
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> My ASP.NET Application</title>
    <link rel="stylesheet" href="~/Assets/node_modules/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Assets/node_modules/bootstrap/dist/js/bootstrap.min.js" />
    <link rel="stylesheet" href="~/Assets/styles/main.css" />
    <script src="~/Assets/node_modules/core-js/client/shim.min.js"></script>
    <script src="~/Assets/node_modules/zone.js/dist/zone.js"></script>
    <script src="~/Assets/node_modules/reflect-metadata/Reflect.js"></script>
    <script src="~/Assets/node_modules/systemjs/dist/system.src.js"></script>
    <script src="~/Assets/systemjs.config.js"></script>
    <script>
      System.import('app').catch(function(err){ console.error(err); });
    </script>
</head>
<body>
 
    <my-app>Loading...</my-app>

</body>
</html>
