<div class="row" >


<my-alatinavbar></my-alatinavbar>


  
    <br>
    <br>
    <br>

    <div class="col-lg-12" style="text-align:center;">
        <h2 class="page-header">Naputak</h2>
    </div>
    <br>
    <br>
    
 
    <div class="col-md-12" style="background-color:white;" >
      
            <p>U izborniku sa lijeve strane nalazi se skup alata koji će Vam omogućiti izračune bruto i neto iznosa plaća, različitih vrsta ugovora, rate kredita i slično.  </p>
            <p>
                Registriranim korisnicima je omogućen pristup Upload i Download kategoriji koji pojednostavljuje razmjenu datoteka između Točke pokrića.doo i njenih partnera.
                Također, omogućen im je i pristup kalkulatoru boniteta poslovanja.
            </p>
            <p>Svi posjetitelji stranice mogu pregledavati nove obavjesti iz poslvonog svijeta te pratiti izdavanja novih i promjene starih zakona i pravila vezanih za poslovanje. </p>
            <p>Izračuni na sljedećim stranicama samo su informativnog karaktera i ne mogu poslužiti u druge svrhe.</p>

    </div>
    <div  style="height:300px;">
    </div>

</div>
