<div class="row">
    <footer class="footer-distributed noPadding">
        <div class="footer-left">

            <!--<h3>Company<span>logo</span></h3>-->
            <p class="footer-links">

            </p>
            <!--<span><img class="img-responsive" src="~/pics/baner - Copy.jpg" /></span>-->
            <br />
            <p class="footer-company-name">Točka pokrića &copy; 2015</p>
        </div>
        <div class="footer-center">
            <div>
                <i class="fa fa-map-marker"></i>
                <p><span>Vankina 19</span> Zagreb, Hrvatska</p>
            </div>
            <div>
                <i class="fa fa-phone"></i>
                <p>01 6672 523</p>
            </div>
            <div>
                <i class="fa fa-fax"></i>
                <p>01 7890 162</p>
            </div>
            <div>
                <i class="fa fa-envelope"></i>
                <p><a href="mailto:tpokrica@tocka-pokrica.hr">tpokrica@tocka-pokrica.hr</a></p>
            </div>
        </div>
        <div class="footer-right">
            <p class="footer-company-about">
                <span>O poduzeću</span>
                Tim naših stručnjaka pomoći će Vam da učinkovito organizirate poslovanje iznad točke pokrića i tako ostvarite željene poslovne rezultate.
            </p>
            <div class="footer-icons">
                <i class="fa fa-facebook"></i>
                <i class="fa fa-twitter"></i>
                <i class="fa fa-linkedin"></i>
                <i class="fa fa-github"></i>
            </div>
        </div>
    </footer>
</div>