<my-onamanavbar></my-onamanavbar>

<div class="row">
    <div class="col-lg-12" style="text-align:center;">
        <h2 class="page-header">O Točki pokrića</h2>
    </div>

    <div class="col-md-6">
      
        <img class="img-responsive" src="/pics/onama.jpg" alt="">
    </div>


    <div class="col-md-6">
        <br />
        
        <font size="3">
            <p>
                <i class="fa fa-hand-o-right "></i>
                Poduzetnik ste pred kojeg se postavljaju mnoga pitanja na koja nemate &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;zadovoljavajuće odgovore.

            </p>
            <p>
                <i class="fa fa-hand-o-right "></i>
                Kadrovski niste dobro ekipirani i ne pokrivate sva područja znanja i vještina.
            </p>
            <p>
                <i class="fa fa-hand-o-right "></i>
                Vrijeme potrebno za razvoj poslovne ideje oduzimaju vam druge aktivnosti.
            </p>
            <p>
                <i class="fa fa-hand-o-right "></i>
                Ne možete se fokusirati na bitno.
            </p>
            <p>
                <i class="fa fa-hand-o-right "></i>
                Rezultati poslovanja su vam sve lošiji, a ne znate zbog čega.
            </p>
            <p>
                <i class="fa fa-hand-o-right "></i>
                Htjeli biste učiniti iskorak iz postojeće situacije, a ne znate kako.
            </p>
         
        </font>

    </div>
</div>

<br>
<br>
<div class="row">
    <div class="col-lg-12"  style="text-align:center;">
        <h2 class="page-header">Popis usluga za obveznike poreza na dohodak</h2>
    </div>
    <div class="col-md-4">
        <div class="media">
            <div class="media-body">
                <h4 class="media-heading"></h4>
                <p>Vođenje knjiga primitaka i izdataka ( KPI )</p>
            </div>
        </div>
        <div class="media">
            <div class="media-body">
                <h4 class="media-heading"></h4>
                <p>Vođenje pomoćnih knjiga ( knjiga URA i IRA )</p>
            </div>
        </div>
        <div class="media">
            <div class="media-body">
                <h4 class="media-heading"></h4>
                <p>Obračun plaća, autorskih honorara i ugovora o djelu</p>
            </div>
        </div>
        <div class="media">
            <div class="media-body">
                <h4 class="media-heading"></h4>
                <p>Vođenje osnovnih sredstava i obračun amortizacije</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="media">
            <div class="media-body">
                <h4 class="media-heading"></h4>
                <p>Evidencija o obvezama i potraživanjima </p>
            </div>
        </div>
        <div class="media">
            <div class="media-body">
                <h4 class="media-heading"></h4>
                <p>Obračun PDV-a </p>
            </div>
        </div>
        <div class="media">
            <div class="media-body">
                <h4 class="media-heading"></h4>
                <p>JOPPD obrazac </p>
            </div>
        </div>
        <div class="media">
            <div class="media-body">
                <h4 class="media-heading"></h4>
                <p>Izrada drugih izvještaja po zahtjevu korisnika</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="media">
            <div class="media-body">
                <h4 class="media-heading"></h4>
                <p>Prijava poreza na dohodak</p>
            </div>
        </div>
        <div class="media">
            <div class="media-body">
                <h4 class="media-heading"></h4>
                <p>Godišnji obračun PDV-a ( PDV – K obrazac )</p>
            </div>
        </div>
        <div class="media">
            <div class="media-body">
                <h4 class="media-heading"></h4>
                <p>Obračun članarina turističkim zajednicama, komorskog doprinosa, spomeničke rente</p>
            </div>
        </div>
        <div class="media">
            <div class="media-body">
                <h4 class="media-heading"></h4>
                <p>Izvještaji o primanjima radnika ( IP obrazac ) i vanjskih suradnika ( IPP obrazac )</p>
            </div>
        </div>
    </div>
</div>
<!-- /.row -->
<hr>