
<header class=" row">
    <div class="col-lg-12 noPadding">
        <img class="img-responsive business-header " src="/pics/baner.jpg" alt="">
    </div>

</header>


<hr>
<div class="row">
    <div class="col-sm-8 ">
        <h2>Čime se bavimo</h2>
        <p>Točka pokrića je prijelomna točka na kojoj se izdižete iznad zone gubitka i otvarate perspektive zone dobitka.</p>
        <p>Tim naših stručnjaka može Vam pomoći da učinkovito organizirate poslovanje iznad točke pokrića i tako ostvarite željene poslovne rezultate.</p>
        <p>Rado ćemo Vam prenijeti naša iskustva i pružiti potporu već kod osnivanja i započimanja s poslovanjem kao i u kasnijim fazama razvoja, a posebno u kriznim trenucima  zajedničkim iznalaženjem optimalnih rješenja izlaska iz krize.</p>
    </div>

    <div class="col-sm-4">
        <h2>Kontaktirajte nas</h2>
        <address>
            <strong>Točka pokrića d.o.o.</strong>
            <br>Vankina 19
            <br>Zagreb, 10020
            <br>
        </address>
        <address>
            <abbr title="Phone">Telefon:</abbr>(01) 6672-523
            <br>
            <abbr title="Fax">Fax:</abbr>(01) 7890-162
            <br>
            <abbr title="Email">Email:</abbr> <a href="mailto:#">tocka.pokrica@tocka-pokrica.hr</a>
        </address>
    </div>
</div>
<!-- /.row -->
<hr>
<div class="row">
    <div class="col-sm-4">
        <img class="img-responsive img-center" src="/pics/knjigovodstvo.jpg" alt="">
        <br>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4><i class="fa fa-fw fa-check"></i> Knjigovodstvo</h4>
            </div>
            <div class="panel-body">
                <p>
                    Pružamo usluge cjelovitog vođenja poslovnih knjiga za obveznike poreza na dobit i  poreza na dohodak.
                    Izrađujemo izvorne dokumente, knjižimo poslovne promjene, sastavljamo obračune i godišnja porezna i statistička izvješća.
                </p>
                <a href="knjigovodstvo.html" class="btn btn-default">Saznaj više</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <img class="img-responsive img-center" src="/pics/EUfondovi.jpg" alt="">
        <br>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4><i class="fa fa-fw fa-check"></i> Poslovno savjetovanje</h4>
            </div>
            <div class="panel-body">
                <p>Pratimo tijek i učinke vašeg poslovanja, pružamo podršku u upravljanju ljudskim potencijalima, materijanim resursima i poslovnim procesima kako bi se ostvarili vaši poslovni ciljevi.</p>
                <a href="poslovno-savjetovanje.html" class="btn btn-default">Saznaj više</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <img class="img-responsive img-center" src="/pics/turizam.jpg" alt="">
        <br>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4><i class="fa fa-fw fa-check"></i> Turizam</h4>
            </div>
            <div class="panel-body">
                <p>Recenzija gosta:</p>
                <p>„This was by far the most comfortable apartment I've ever stayed at. It was nicely decorated, very clean and located just a short walk to the beach. My host was very kind and super helpful. Highly recommend!“ (Daniel, Canada)</p>
                <a href="turizam.html" class="btn btn-default">Saznaj više</a>
            </div>
        </div>
    </div>
</div>
<!-- /.row -->
<hr>