

<my-onamanavbar></my-onamanavbar>

<div class="row">
    <div class="col-lg-12">
        <img class="img-responsive" style="margin-top:50px" src="/pics/poslovno-savjetovanje.jpg" alt="">
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">Popis usluga</h2>
    </div>
    <div class="col-md-4">
        <div class="media">
            <div class="media-body">
                <h4 class="media-heading"></h4>
                <p>Izrada poslovnih planova, studija izvodivosti, investicijskih studija.</p>
            </div>
        </div>
        <div class="media">
            <div class="media-body">
                <h4 class="media-heading"></h4>
                <p>Priprema projekata za financiranje iz EU fondova.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="media">
            <div class="media-body">
                <h4 class="media-heading"></h4>
                <p>Organizacja i upravljanje poslovanjem:</p>
                <p>	- u fazi osnivanja</p>
                <p>	- u fazi rasta</p>
                <p>	- nastankom poteškoća u poslovanju</p>
            </div>
        </div>
        <div class="media">
            <div class="media-body">
                <h4 class="media-heading"></h4>
                <p>Procjena vrijednosti poslovnih subjekata.</p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="media">
            <div class="media-body">
                <h4 class="media-heading"></h4>
                <p>Osnivanje, podjela, pripajanje i druge statusne promjene poslovnih sustava.</p>
            </div>
        </div>
        <div class="media">
            <div class="media-body">
                <h4 class="media-heading"></h4>
                <p>Predstečajne nagodbe, stečajevi i likvidacija poslovnih subjekata.</p>
            </div>
        </div>
    </div>
</div>
 
<!-- /.row -->
<hr>