<my-onamanavbar></my-onamanavbar>

<div class="row">
    <h1 class="col-md-5">Apartmani Ante</h1>
    <div class="col-md-12">
        <img class="img-responsive" src="/pics/panorama.jpg" alt="">
    </div>
</div>
<br>
<hr>
<div class="col-md-7">
    <h2>Kuća i okućnica </h2>
    <p>Kuća se nalazi u Vodicama na adresi Neretvanska ulica, broj 14a. Posjeduje parking za 6 automobila. Uz kuću se nalazi i kućica za roštilj. Ispred kuće je lunge prostor za goste i domaćine.</p>
</div>
<div class="col-md-5">
    <img data-holder-rendered="true" src="/pics/kuca2.jpg" class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto">
</div>
<hr>
<div class="row">
    <div class="col-md-7 col-md-push-5">
        <h2>Apartman sa spavaćom sobom i balkonom</h2>
        <p>Apartman sadrži bogato opremljenu kuhinju (izdvojeno: toster, mikrovalna, kuhalo za vodu, mikser) i ugudno uređeni dnevni boravak iz kojeg se izlazi na balkon.</p>
        <p>Ondje se nalazi stol sa dvije sjedalice i sušilo za robu. Idealan je za ispijanje jutarnje kave. </p>
        <p>
            U spavaćoj sobi je bračni krevet pored kojeg su smješteni noći ormarići sa pripadajućim lampama. Takoder se nalazi veliki ormar, radni stol i sjedalica.
            Poseban ugođaj daje ogledalo nasuprot krevetu. U kupaonici je klasična tuš kabina, WC, i dva ormara za higijenske potrepštine.
        </p>
       
    </div>
    <div class="col-md-5 col-md-pull-7">
        <img data-holder-rendered="true" src="/pics/DSC_0317.JPG" class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto">
    </div>
</div>
<hr >
<div class="row">
    <div class="col-md-7">
        <h2>Comfort apartman sa spavaćom sobom i balkonom</h2>
        <p>Apartman sadrži bogato opremljenu kuhinju (izdvojeno: toster, mikrovalna, kuhalo za vodu, mikser) i ugudno uređeni dnevni boravak iz kojeg se izlazi na balkon. </p>
        <p> Ondje se nalazi stol sa četiri sjedalice i sušilo za robu. Idealan je za večernje ispijanje omiljenog piva i kartanje sa društvom. </p>
        <p>U spavaćoj sobi je bračni krevet pored kojeg su smješteni noći ormarići sa pripadajućim lampama. Takoder se nalazi veliki ormar, radni stol i sjedalica, ali i jedan dodatan ležaj. U kupaonici je klasična tuš kabina, WC, i dva ormara za higijenske potrepstine.</p>
    </div>
    <div class="col-md-5">
        <img data-holder-rendered="true" src="/pics/DSC_0097-1.jpg" class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto">
    </div>
</div>
<hr>